<br /> <br />
<div class="container">
  <div class="notification is-light has-text-centered">
    <h1><strong>Units of Time</strong> </h1>
  </div>
</div>
<br />
<div class="container has-text-centered unit-container">
  <p class="currentTime" > We are <span> {{hours}} </span> hours and <span> {{minutes}} </span> minutes into the day. </p>
  <br />
  <div class="notification is-light has-text-centered" *ngFor="let metric of currentMetrics">
    <p class="metricParagraph" > That's {{milliseconds / metric.duration | number: '1.0-0' }} as long as it takes a {{metric.agent}} to make {{metric.product}} </p>
  </div>
</div>

<br /> <br />
<div class="container">
  <div class="columns is-mobile is-centered">
      <button class="button is-warning add-button"
      (click)="addUnit()"
      *ngIf="remainingMetrics.length > 0"
      > Add Another Unit + </button>
  </div>
  <br />
  <div class="columns is-mobile is-centered">
    <button class="button is-info"
    (click)="updateTime()"
    > Update Time </button>
</div>
</div>
<br /> <br />
<br /> <br />

<footer class="footer">

  <div class="content has-text-centered">
    <p class="footerText" > 
      Made by Daniel Olivieri using Bulma with a favicon made by <a href="https://www.flaticon.com/authors/justicon" target="_blank" >justicon</a> 
    </p>

  </div>
</footer>

<router-outlet></router-outlet>