
<br /> <br />
<div class="container">
  <div class="notification is-light has-text-centered">
    <h1><strong>Units of Time</strong> </h1>
  </div>
</div>
<br />
<div class="container has-text-centered">
  <p> We are <span> {{hours}} </span> hours and <span> {{minutes}} </span> minutes into the day. </p>
  <br />
  <div class="notification is-light has-text-centered">
    <p> That's {{dives}} dives of an antelope </p>
    <p> And {{seconds}} seconds </p>
  </div>
</div>

<router-outlet></router-outlet>
